<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8" />
        <title>ma Banque</title>
        <link rel="stylesheet" type="text/css" 
        href="../static/css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" 
        href="../static/css/myStyle.min.css"
        th:href="@{/css/myStyle.min.css}" />
    </head>
    <body>
        <header>
            <div class="navbar navbar-inverse">
                <div class="container-fluid">
                    <ul class="nav navbar-nav ">
                        <li><a href="@{/operations}">Operations</a></li>
                        <li><a th:href="@{/comptes}">Comptes</a></li>
                        <li><a th:href="@{/clients}">Clients</a></li>
                    </ul>
                    <ul class="navbar navbar-nav navbar-right">
                        <li><a th:href="@{/login?logout}">Logout</a></li>
                    </ul>    
                </div>
            </div>
        </header>
        <section layout:fragment="content"></section>
        <footer>
            <div class="navbar-fixed-bottom">
                <small>@L'adresse de votre bank</small>
            </div>
        </footer>
    </body>
</html>